# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache
WarpSE-backups/*

*.DS_Store
Documentation/Thumbs.db
*.kicad_prl
PowerAdapter/SEPowerAdapter-backups/*
\#auto_saved_files\#
*.lck
