# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache
WarpSE-backups/*
PowerAdapter/SEPowerAdapter-backups/*

*.DS_Store
Documentation/Thumbs.db
*.kicad_prl
*.kicad_sch-bak
rom/bin/*
!rom/bin/warpse_1508.bin
!rom/bin/warpse_0700.bin
