
#Created by Constraints Editor (xc95144xl-tq100-10) - 2021/10/07
INST "A_FSB<1>" TNM = A_FSB;
INST "A_FSB<2>" TNM = A_FSB;
INST "A_FSB<3>" TNM = A_FSB;
INST "A_FSB<4>" TNM = A_FSB;
INST "A_FSB<5>" TNM = A_FSB;
INST "A_FSB<6>" TNM = A_FSB;
INST "A_FSB<7>" TNM = A_FSB;
INST "A_FSB<8>" TNM = A_FSB;
INST "A_FSB<9>" TNM = A_FSB;
INST "A_FSB<10>" TNM = A_FSB;
INST "A_FSB<11>" TNM = A_FSB;
INST "A_FSB<12>" TNM = A_FSB;
INST "A_FSB<13>" TNM = A_FSB;
INST "A_FSB<14>" TNM = A_FSB;
INST "A_FSB<15>" TNM = A_FSB;
INST "A_FSB<16>" TNM = A_FSB;
INST "A_FSB<17>" TNM = A_FSB;
INST "A_FSB<18>" TNM = A_FSB;
INST "A_FSB<19>" TNM = A_FSB;
INST "A_FSB<20>" TNM = A_FSB;
INST "A_FSB<21>" TNM = A_FSB;
INST "A_FSB<22>" TNM = A_FSB;
INST "A_FSB<23>" TNM = A_FSB;
#Created by Constraints Editor (xc95144xl-tq100-10) - 2021/10/07
NET "CLK_FSB" TNM_NET = CLK_FSB;
TIMESPEC TS_CLK_FSB = PERIOD "CLK_FSB" 40 ns HIGH 50%;
NET "CLK2X_IOB" TNM_NET = CLK2X_IOB;
TIMESPEC TS_CLK2X_IOB = PERIOD "CLK2X_IOB" 15.6672 MHz HIGH 50%;
NET "CLK_IOB" TNM_NET = CLK_IOB;
TIMESPEC TS_CLK_IOB = PERIOD "CLK_IOB" 7.8336 MHz HIGH 50%;
