NET "A_FSB<10>"  LOC = "P8"  ; 
NET "A_FSB<11>"  LOC = "P9"  ; 
NET "A_FSB<12>"  LOC = "P10"  ; 
NET "A_FSB<13>"  LOC = "P11"  ; 
NET "A_FSB<14>"  LOC = "P12"  ; 
NET "A_FSB<15>"  LOC = "P13"  ; 
NET "A_FSB<16>"  LOC = "P14"  ; 
NET "A_FSB<17>"  LOC = "P15"  ; 
NET "A_FSB<18>"  LOC = "P16"  ; 
NET "A_FSB<19>"  LOC = "P17"  ; 
NET "A_FSB<1>"  LOC = "P94"  ; 
NET "A_FSB<20>"  LOC = "P18"  ; 
NET "A_FSB<21>"  LOC = "P19"  ; 
NET "A_FSB<22>"  LOC = "P20"  ; 
NET "A_FSB<23>"  LOC = "P24"  ; 
NET "A_FSB<2>"  LOC = "P95"  ; 
NET "A_FSB<3>"  LOC = "P96"  ; 
NET "A_FSB<4>"  LOC = "P97"  ; 
NET "A_FSB<5>"  LOC = "P2"  ; 
NET "A_FSB<6>"  LOC = "P3"  ; 
NET "A_FSB<7>"  LOC = "P4"  ; 
NET "A_FSB<8>"  LOC = "P6"  ; 
NET "A_FSB<9>"  LOC = "P7"  ; 
NET "MCKE"  LOC = "P58"  ; 
NET "FCLK"  LOC = "P27"  ; 
NET "C16M"  LOC = "P22"  ; 
NET "C8M"  LOC = "P23"  ; 
NET "E"  LOC = "P25"  ; 
NET "nADoutLE0"  LOC = "P85" | SLEW = SLOW  ; 
NET "nADoutLE1"  LOC = "P82"  ; 
NET "nAoutOE"  LOC = "P87" | SLEW = SLOW  ; 
NET "nAS_FSB"  LOC = "P32"  ; 
NET "nAS_IOB"  LOC = "P81" | SLEW = SLOW  ; 
NET "nBERR_FSB"  LOC = "P70" | SLEW = SLOW  ; 
NET "nBERR_IOB"  LOC = "P76"  ; 
NET "nBG_IOB"  LOC = "P73"  ;
NET "nBR_IOB"  LOC = "P72" | SLEW=SLOW  ;
NET "nCAS"  LOC = "P36"  ; 
NET "nDinLE"  LOC = "P86"  ; 
NET "nDinOE"  LOC = "P90" | SLEW = SLOW  ; 
NET "nDoutOE"  LOC = "P89"  ; 
NET "nDTACK_FSB"  LOC = "P28" | SLEW = SLOW  ; 
NET "nDTACK_IOB"  LOC = "P78"  ; 
NET "nIPL2"  LOC = "P92"  ;
NET "nLDS_FSB"  LOC = "P30"  ; 
NET "nLDS_IOB"  LOC = "P79" | SLEW=SLOW  ; 
NET "nOE"  LOC = "P37" | SLEW = SLOW  ; 
NET "nRAMLWE"  LOC = "P65" | SLEW = SLOW  ; 
NET "nRAMUWE"  LOC = "P66" | SLEW = SLOW  ; 
NET "nRAS"  LOC = "P64"  ; 
NET "nRES"  LOC = "P91" | SLEW=SLOW  ; 
NET "nROMOE"  LOC = "P35" | SLEW = SLOW  ; 
NET "nROMWE"  LOC = "P34" | SLEW = SLOW  ; 
NET "nUDS_FSB"  LOC = "P33"  ; 
NET "nUDS_IOB"  LOC = "P80" | SLEW=SLOW  ; 
NET "nVMA_IOB"  LOC = "P74" | SLEW=SLOW  ; 
NET "nVPA_FSB"  LOC = "P93" | SLEW = SLOW  ; 
NET "nVPA_IOB"  LOC = "P77"  ; 
NET "nWE_FSB"  LOC = "P29"  ; 
NET "RA<0>"  LOC = "P53"  ; 
NET "RA<10>"  LOC = "P55"  ; 
NET "RA<11>"  LOC = "P63"  ; 
NET "RA<1>"  LOC = "P50"  ; 
NET "RA<2>"  LOC = "P43"  ; 
NET "RA<3>"  LOC = "P41"  ; 
NET "RA<4>"  LOC = "P40"  ; 
NET "RA<5>"  LOC = "P42"  ; 
NET "RA<6>"  LOC = "P46"  ; 
NET "RA<7>"  LOC = "P52"  ; 
NET "RA<8>"  LOC = "P54"  ; 
NET "RA<9>"  LOC = "P56"  ; 
NET "GA<22>"  LOC = "P61"  ;
NET "GA<23>"  LOC = "P60"  ;
NET "RnW_IOB"  LOC = "P59" | SLEW = SLOW  ;
NET "DBG<0>"  LOC = "P67"  ;
NET "DBG<1>"  LOC = "P68"  ;
NET "DBG<2>"  LOC = "P49"  ;
NET "DBG<3>"  LOC = "P39"  ;
NET "DBG<4>"  LOC = "P71"  ;
NET "DBG<5>"  LOC = "P1"  ;
